Django==5.2.14
uWSGI==2.0.31
djangorestframework==3.17.1
django-storages==1.14.6
django-ses==4.7.2
Jinja2==3.1.6
setuptools==82.0.1
channels==4.3.2
channels-redis==4.3.0
daphne==4.2.1
watchdog==6.0.0
pygtail==0.14.0
django-markdown-deux==1.0.6
markdown2==2.5.5
