{% load static %}
<header>
    <h1>Hi, I'm Matt</h1>
</header>

<section class="bio-section">
    <div class="bio-content">
        <div class="bio-text">
            <p>I'm a Software Engineering Manager based in Bristol &amp; London in the UK. I thrive in Engineering organisations at the intersection of technology, people, and process.</p>
            <p>Prior to Engineering leadership, I worked for more than ten years as a backend contributor, most significantly within the Python ecosystem, but at times I have worked full-stack and even had a brief stint as a mobile Engineer. I have built software for a range of different industries, including finance, broadcasting, transport, and fashion.</p>
            <p><em>Yes, the background of this page is the live-scrolling HTTP logs of this very server – <a href="#bowelism" class="link-internal">it was a fun project to put together!</a></em></p>
        </div>
        <div class="bio-image">
            <figure>
                <img src="{% static "img/matt_sm.jpg" %}" alt="Matt's photo" />
                <figcaption>It me.</figcaption>
            </figure>
        </div>
    </div>
</section>
