{% load static %}
<header>
    <h1>Hi, I'm Matt</h1>
</header>

<section class="bio-section">
    <div class="bio-content">
        <div class="bio-text">
            <p>I'm a UK-based Software Engineering Manager based in Bristol and London. I thrive in Engineering organisations at the intersection of technology, people, and process.</p>
            <p>Prior to Engineering Leadership, I worked for more than ten years as a backend contributor, most significantly within the Python ecosystem, but at times I have worked full-stack and even had a brief stint as a mobile Engineer. I have built software for a range of different industries, including finance, broadcasting, transport, and fashion.</p>
            <p><em>Yes, the background of this page is the live-scrolling HTTP logs of this server – it was a fun project to put together!</em></p>
        </div>
        <div class="bio-image">
            <img src="{% static "img/matt_sm.jpg" %}" alt="Matt's photo" />
        </div>
    </div>
</section>
