{% load static %}
{% load markdown_deux_tags %}
<header>
    <h1>Manager README, Matt Jackson</h1>
</header>

<section class="bio-section">
    <div class="bio-content">
        <div class="bio-text">
            <div class="bio-image">
                <figure>
                    <img src="{% static "img/matt_sm.jpg" %}" alt="Matt Jackson, a manager." />
                    <figcaption>Matt Jackson, a manager.</figcaption>
                </figure>
            </div>
            {% markdown %}
{% include 'content/markdown/user-manual.md' %}
            {% endmarkdown %}
        </div>
    </div>
</section>
