{% extends 'base.html' %}
{% load static from staticfiles %}

{% block extrahead %}
<script type="text/javascript">

    document.log_streaming = {
        LOG_STREAM_URI: 'ws://' + window.location.host + '/ws/log-streaming/',
        LOG_LINE_TEMPLATE: "log-line-template",
        REMOTE_IP: "{{ remote_ip }}",
        log_lines_container: null,
        log_stream_socket: null,

        init: function() {
            this.log_lines_container = document.getElementsByClassName('log-lines')[0];
            this.log_stream_socket = new WebSocket(this.LOG_STREAM_URI)
            this.log_stream_socket.onmessage = e => {
                let lines = JSON.parse(e.data);
                this.received_log_lines(lines);
            };

            this.log_stream_socket.onerror = e => {
                console.error("Socket closed unexpectedly");
            };
        },

        received_log_lines: function(lines) {
            for (let [idx, line] of lines.entries()) {
                setTimeout(() => {
                    this.received_log_line(line);
                }, 100*idx);
            }
        },

        received_log_line: function(line) {
            let log_line_elem = document.getElementById(this.LOG_LINE_TEMPLATE).cloneNode();
            log_line_elem.removeAttribute("id");
            log_line_elem.classList.remove('template');

            if (line.includes(this.REMOTE_IP)) {  // highlight requests coming from this user
                log_line_elem.classList.add('this-user');
            }

            log_line_elem.innerText = line;

            this.log_lines_container.appendChild(log_line_elem);
        }

    };

    document.addEventListener("DOMContentLoaded", function(){
        document.log_streaming.init();
    });

</script>
{% endblock %}

{% block content %}
<div class="log-lines">
</div>

<div class="bio center">
    <div class="bio__image"><img src="{% static "img/matt_sm.jpg" %}" class="photo-me" alt="Picture of Matt Jackson"></div>
    <div class="bio__text">
        <h2>Hi, I'm Matt.</h2>
        <p>I'm a software engineer primarily working with <strong>Python</strong>. I have a particular background building APIs for mobile apps, but I am a bit of a jack-of-all-trades, and I enjoy new challenges.</p>
        <p>I have a strong competency in <strong>Computer Science/Algorithms</strong>, and also have experience in <strong>building and managing effective software teams</strong>. <strong>Containerisation</strong> and <strong>Serverless</strong> are some of my favourite tools.</p>
        <p class="strong">I work as a contractor, and am available for new contracts now.</p>
    </div>
    <div class="bio__social_icons">
        <a href="https://github.com/majackson"><img src="{% static "img/github.png" %}" alt="GitHub" class="social-button social-button__github"></a>
        <a href="https://twitter.com/matt_jackson"><img src="{% static "img/twitter.png" %}" alt="Twitter" class="social-button social-button__twitter"></a>
        <a href="https://stackoverflow.com/users/243248/majackson"><img src="{% static "img/stackoverflow.png" %}" alt="Stack Overflow" class="social-button social-button__stackoverflow"></a>
        <a href="https://www.linkedin.com/in/mattajackson/"><img src="{% static "img/linkedin.png" %}" alt="LinkedIN" class="social-button social-button__linkedin"></a>
        <a href="http://cv.mattjackson.uk"><img src="{% static "img/cv.png" %}" alt="Curriculum Vitae" class="social-button social-button__cv"></a>
    </div>
</div>

<p id="log-line-template" class="template log-line"></p>
{% endblock %}
