{% extends 'base.html' %}
{% load static %}

{% block extrahead %}
<script type="text/javascript">

    document.log_streaming = {
        LOG_STREAM_URI: (window.location.protocol.includes('https')? 'wss://': 'ws://') + window.location.host + '/ws/log-streaming/',
        TEMPLATE_CLASS: 'template',
        HIDDEN_CLASS: 'hidden',
        LOG_LINE_TEMPLATE_ID: "terminal-text-line-template",
        LOG_LINES_CONTAINER_CLASS: 'terminal-text',
        LOG_LINE_THIS_USER_CLASS: 'this-user',
        SECTION_CLASSES: {
            'intro': 'content-card-intro',
            'bowelism': 'content-card-bowelism',
            'user-manual': 'content-card-user-manual',
        },
        REMOTE_IP: "{{ remote_ip }}",
        log_lines_container: null,
        log_stream_socket: null,

        init: function() {
            this.log_lines_container = document.getElementsByClassName(this.LOG_LINES_CONTAINER_CLASS)[0];
            this.log_stream_socket = new WebSocket(this.LOG_STREAM_URI)
            this.log_stream_socket.onmessage = e => {
                let lines = JSON.parse(e.data);
                this.received_log_lines(lines);
            };

            this.log_stream_socket.onerror = e => {
                console.error("Socket closed unexpectedly");
            };
        },

        received_log_lines: function(lines) {
            for (let [idx, line] of lines.entries()) {
                setTimeout(() => {
                    this.received_log_line(line);
                }, 100*idx);
            }
        },

        received_log_line: function(line) {
            let log_line_elem = document.getElementById(this.LOG_LINE_TEMPLATE_ID).cloneNode();
            log_line_elem.removeAttribute("id");
            log_line_elem.classList.remove(this.TEMPLATE_CLASS);

            if (line.includes(this.REMOTE_IP)) {  // highlight requests coming from this user
                log_line_elem.classList.add(this.LOG_LINE_THIS_USER_CLASS);
            }

            log_line_elem.innerText = line;

            this.log_lines_container.appendChild(log_line_elem);
        },

        show_sections: function() {
            let active_section = window.location.pathname.split('/').pop();
            if (window.location.hash) {
                active_section = window.location.hash.split('#').pop();
            }
            if(!active_section) { active_section = 'intro'; }

            // show only relevent section
            for (let [_, section_class] of Object.entries(this.SECTION_CLASSES)) {
                document.getElementsByClassName(section_class)[0].classList.add(this.HIDDEN_CLASS);
            }
            document.getElementsByClassName(this.SECTION_CLASSES[active_section])[0].classList.remove(this.HIDDEN_CLASS);
        }

    };

    document.addEventListener("DOMContentLoaded", function(){
        document.log_streaming.init();
    });

    window.addEventListener("hashchange", function(){
        document.log_streaming.show_sections();
    });

</script>
{% endblock %}

{% block content %}
<div class="terminal-container">
    <div class="terminal-text">
    </div>
</div>
<div id="terminal-text-line-template" class="template terminal-text-line"></div>

<main class="content-container">
    <div class="content-card content-card-intro{% if content == 'bowelism' or content == 'user-manual' %} hidden{% endif %}">
        {% include 'content/intro.html' %}
        {% with content='intro' %}
            {% include 'social_links.html' %}
        {% endwith %}
    </div>
    <div class="content-card content-card-bowelism{% if content != 'bowelism' %} hidden{% endif %}">
        {% include 'content/bowelism.html' %}
        {% with content='bowelism' %}
            {% include 'social_links.html' %}
        {% endwith %}
    </div>
    <div class="content-card content-card-user-manual{% if content != 'user-manual' %} hidden{% endif %}">
        {% include 'content/user_manual.html' %}
        {% with content='user-manual' %}
            {% include 'social_links.html' %}
        {% endwith %}
    </div>
</main>

{% endblock %}
