{% extends 'base.html' %}
{% load static %}

{% block extrahead %}
<script type="text/javascript">

    document.log_streaming = {
        LOG_STREAM_URI: 'ws://' + window.location.host + '/ws/log-streaming/',
        TEMPLATE_CLASS: 'template',
        LOG_LINE_TEMPLATE_ID: "terminal-text-line-template",
        LOG_LINES_CONTAINER_CLASS: 'terminal-text',
        LOG_LINE_THIS_USER_CLASS: 'this-user',
        REMOTE_IP: "{{ remote_ip }}",
        log_lines_container: null,
        log_stream_socket: null,

        init: function() {
            this.log_lines_container = document.getElementsByClassName(this.LOG_LINES_CONTAINER_CLASS)[0];
            this.log_stream_socket = new WebSocket(this.LOG_STREAM_URI)
            this.log_stream_socket.onmessage = e => {
                let lines = JSON.parse(e.data);
                this.received_log_lines(lines);
            };

            this.log_stream_socket.onerror = e => {
                console.error("Socket closed unexpectedly");
            };
        },

        received_log_lines: function(lines) {
            for (let [idx, line] of lines.entries()) {
                setTimeout(() => {
                    this.received_log_line(line);
                }, 100*idx);
            }
        },

        received_log_line: function(line) {
            let log_line_elem = document.getElementById(this.LOG_LINE_TEMPLATE_ID).cloneNode();
            log_line_elem.removeAttribute("id");
            log_line_elem.classList.remove(this.TEMPLATE_CLASS);

            if (line.includes(this.REMOTE_IP)) {  // highlight requests coming from this user
                log_line_elem.classList.add(this.LOG_LINE_THIS_USER_CLASS);
            }

            log_line_elem.innerText = line;

            this.log_lines_container.appendChild(log_line_elem);
        }

    };

    document.addEventListener("DOMContentLoaded", function(){
        document.log_streaming.init();
    });

</script>
{% endblock %}

{% block content %}
<div class="terminal-container">
    <div class="terminal-text">
    </div>
</div>
<div id="terminal-text-line-template" class="template terminal-text-line"></div>

<main class="content-container">
    <div class="content-card">
        <header>
            <h1>Hi, I'm Matt</h1>
        </header>

        <section class="bio-section">
        <div class="bio-content">
            <div class="bio-text">
                <p>I'm a UK-based Software Engineering Manager based in Bristol and London. I thrive in Engineering organisations at the intersection of Technology, People, and Process.</p>
                <p>Prior to Engineering Leadership, I worked for more than ten years as a backend contributor, most significantly within the Python ecosystem, but at times I have worked full-stack and even had a brief stint as a mobile Engineer.</p>
                <p><em>Yes, the background of this page is the live-scrolling HTTP logs of this server – it was a fun project to put together!</em></p>
            </div>
            <div class="bio-image">
                <img src="{% static "img/matt_sm.jpg" %}" alt="Matt's photo" />
            </div>
        </div>
        </section>

        <section class="social-links">
            <div class="links-grid">
                <a href="https://www.linkedin.com/in/mattajackson/" class="social-link">
                    <span class="link-icon"><img src="{% static "img/linkedin.png" %}" alt="LinkedIn" /></span>
                    <span class="link-text">LinkedIn</span>
                </a>
                <a href="https://github.com/majackson" class="social-link">
                    <span class="link-icon"><img src="{% static "img/github.png" %}" alt="GitHub" /></span>
                    <span class="link-text">GitHub</span>
                </a>
            </div>
        </section>
    </div>
</main>

{% endblock %}
