{% load static %}
<section class="social-links">
    <div class="links-grid">
        {% comment %}
        {%  if content == 'bowelism' or content == 'user-manual' %}
        <a href="#intro" class="social-link social-link-intro">
            <span class="link-icon">🌍</span>
            <span class="link-text">mattjackson.uk</span>
        </a>
        {% endif %}
        {% if content != 'bowelism' %}
        <a href="#bowelism" class="social-link social-link-bowelism">
            <span class="link-icon">📄</span>
            <span class="link-text">About This Page</span>
        </a>
        {% endif %}
        {% if content != 'user-manual' %}
        <a href="#user-manual" class="social-link social-link-user-manual">
            <span class="link-icon">✍️</span>
            <span class="link-text">Personal User Manual</span>
        </a>
        {% endif %}
        {% endcomment %}
        <a href="https://www.linkedin.com/in/mattajackson/" class="social-link">
            <span class="link-icon"><img src="{% static "img/linkedin.png" %}" alt="LinkedIn" /></span>
            <span class="link-text">LinkedIn</span>
        </a>
        <a href="https://github.com/majackson" class="social-link">
            <span class="link-icon"><img src="{% static "img/github.png" %}" alt="GitHub" /></span>
            <span class="link-text">GitHub</span>
        </a>
    </div>
</section>
